body {
    background-color: rgb(242, 241, 239);
    font-size: 16px;
    margin:0;
    font-family: NotoSans,Arial,"Arial Unicode MS",sans-serif;
}

.main-container {
    margin: auto;
    min-height: 100vh;
    box-shadow: 0px 5px 20px gray;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.header-container {
    position: fixed;
    width: 80%;
    max-width: inherit;
    background-color: white;
    box-shadow: 0px 1px 10px;
    display: flex;
    gap: 35%;
}

.nav-container {
    padding-left: 100px;
}
.nav{
    text-decoration: none;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: row-reverse;
    margin-top:41px;
}

.torre {
    width: 40px;
}

.iconos {
    max-width: 30px;
    margin-right: 10px;
}

.nav{
    color: #64605d;
    align-items:flex-start;
}

/* Estilos del Contenido del Texto Principal*/

.texto-container {
    background-color: white;
    width: 50%;
    padding: 2%;
    font-size: 16px;
    line-height: 24px;
    font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;

}
.textobase {
    color: rgb(59, 59, 59);
    font-family: Arial, Helvetica, sans-serif, serif;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

section.section h3 {
    color: #292929;
    font-size: 16px;
}

section.section a {
    text-decoration: none;
    color: #2878bb;
    cursor: pointer;
}

section.section a:visited {
    color: #4a6da7;
}
section.section a:hover {
    text-decoration: underline;
}

/* Estilos del contenido de Aside*/
.aside-container {
    width: 50%;
    background-color: #f2f1ef;
    padding: 2%;
    font-size: 16px;
    line-height: 24px;
    font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
}

.watchtower {
    color: #a0a0a0;
}

.biblioteca {
    color:#65605e;
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1;
}

.bienvenido {
    font-weight: 200;
    font-size: 1.5em;
    color: #a0a0a0;
    padding-bottom: 20px;
}

.sobrelapagina {
    margin-top: 0;
    font-size: 1.1em;
    color: #65605e;
    margin-bottom: 0.5em;
}

.anuncio {
    color: #a0a0a0;
    font-size: 1.1em;
}

.descargas {
    font-size: 1em;
    color: #a0a0a0;
    padding-bottom: 20px;
}

.idiomas {
    color: #2878bb;
}

.nuevosidiomas {
    color: #292929;
}

em {
    font-style: italic;
}
/* Fin de estilos de Aside*/

.footer-container {
    background-color: #eae9e6;
display: flex;
flex-direction: row;
justify-content: center;
gap: 2rem;
}

.footer-container div img {
    width: 20px;
}
.footer-container div a {
    color: #2878bb;
}

.footer-container div a:visited {
    color: #4a6da7;
}

.copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #dbd8d3;
    font-size: 12px;
    gap: 1rem;
}

.copyright-container a {
    color: #2878bb;
    text-decoration: underline;
}
.copyright-container a:visited {
    color: #4a6da7;
}

.copyright-container img {
    width: 20px;
}